# C# build files
bin/
obj/
*.exe
*.dll
*.pdb
*.user
*.suo
*.cache

# VS IDE files
*.sln.DotSettings.user
*.vs/
/.idea/
/publish/
/publish_win64.bat
/tools/YLsLNTransformer/
/Beatmaps/XxySR/krrTools.code-workspace
/RustSRCalculator/src/lib.rs
/RustSRCalculator/target/release/.fingerprint/anyhow-1d1c33418763d544/dep-lib-anyhow
/RustSRCalculator/target/release/.fingerprint/anyhow-1d1c33418763d544/invoked.timestamp
/RustSRCalculator/target/release/.fingerprint/anyhow-1d1c33418763d544/lib-anyhow
/RustSRCalculator/target/release/.fingerprint/anyhow-1d1c33418763d544/lib-anyhow.json
/RustSRCalculator/target/release/.fingerprint/anyhow-045a5c2a78504372/build-script-build-script-build
/RustSRCalculator/target/release/.fingerprint/anyhow-045a5c2a78504372/build-script-build-script-build.json
/RustSRCalculator/target/release/.fingerprint/anyhow-045a5c2a78504372/dep-build-script-build-script-build
/RustSRCalculator/target/release/.fingerprint/anyhow-045a5c2a78504372/invoked.timestamp
/RustSRCalculator/target/release/.fingerprint/anyhow-7134c2f8e2c2c8be/run-build-script-build-script-build
/RustSRCalculator/target/release/.fingerprint/anyhow-7134c2f8e2c2c8be/run-build-script-build-script-build.json
/RustSRCalculator/target/release/.fingerprint/crossbeam-deque-16016c12a400dee4/dep-lib-crossbeam_deque
/RustSRCalculator/target/release/.fingerprint/crossbeam-deque-16016c12a400dee4/invoked.timestamp
/RustSRCalculator/target/release/.fingerprint/crossbeam-deque-16016c12a400dee4/lib-crossbeam_deque
/RustSRCalculator/target/release/.fingerprint/crossbeam-deque-16016c12a400dee4/lib-crossbeam_deque.json
/RustSRCalculator/target/release/.fingerprint/crossbeam-epoch-df3ab80015fb6365/dep-lib-crossbeam_epoch
/RustSRCalculator/target/release/.fingerprint/crossbeam-epoch-df3ab80015fb6365/invoked.timestamp
/RustSRCalculator/target/release/.fingerprint/crossbeam-epoch-df3ab80015fb6365/lib-crossbeam_epoch
/RustSRCalculator/target/release/.fingerprint/crossbeam-epoch-df3ab80015fb6365/lib-crossbeam_epoch.json
/RustSRCalculator/target/release/.fingerprint/crossbeam-utils-68cdbf02ebb0072a/dep-lib-crossbeam_utils
/RustSRCalculator/target/release/.fingerprint/crossbeam-utils-68cdbf02ebb0072a/invoked.timestamp
/RustSRCalculator/target/release/.fingerprint/crossbeam-utils-68cdbf02ebb0072a/lib-crossbeam_utils
/RustSRCalculator/target/release/.fingerprint/crossbeam-utils-68cdbf02ebb0072a/lib-crossbeam_utils.json
/RustSRCalculator/target/release/.fingerprint/crossbeam-utils-9945c743697ba097/run-build-script-build-script-build
/RustSRCalculator/target/release/.fingerprint/crossbeam-utils-9945c743697ba097/run-build-script-build-script-build.json
/RustSRCalculator/target/release/.fingerprint/crossbeam-utils-ea004232fe9c4047/build-script-build-script-build
/RustSRCalculator/target/release/.fingerprint/crossbeam-utils-ea004232fe9c4047/build-script-build-script-build.json
/RustSRCalculator/target/release/.fingerprint/crossbeam-utils-ea004232fe9c4047/dep-build-script-build-script-build
/RustSRCalculator/target/release/.fingerprint/crossbeam-utils-ea004232fe9c4047/invoked.timestamp
/RustSRCalculator/target/release/.fingerprint/either-d83ee4a84af58d26/dep-lib-either
/RustSRCalculator/target/release/.fingerprint/either-d83ee4a84af58d26/invoked.timestamp
/RustSRCalculator/target/release/.fingerprint/either-d83ee4a84af58d26/lib-either
/RustSRCalculator/target/release/.fingerprint/either-d83ee4a84af58d26/lib-either.json
/RustSRCalculator/target/release/.fingerprint/itoa-9a1612c132340039/dep-lib-itoa
/RustSRCalculator/target/release/.fingerprint/itoa-9a1612c132340039/invoked.timestamp
/RustSRCalculator/target/release/.fingerprint/itoa-9a1612c132340039/lib-itoa
/RustSRCalculator/target/release/.fingerprint/itoa-9a1612c132340039/lib-itoa.json
/RustSRCalculator/target/release/.fingerprint/memchr-f5170a6b46119bba/dep-lib-memchr
/RustSRCalculator/target/release/.fingerprint/memchr-f5170a6b46119bba/invoked.timestamp
/RustSRCalculator/target/release/.fingerprint/memchr-f5170a6b46119bba/lib-memchr
/RustSRCalculator/target/release/.fingerprint/memchr-f5170a6b46119bba/lib-memchr.json
/RustSRCalculator/target/release/.fingerprint/proc-macro2-a6ead2dc3d3812d5/dep-lib-proc_macro2
/RustSRCalculator/target/release/.fingerprint/proc-macro2-a6ead2dc3d3812d5/invoked.timestamp
/RustSRCalculator/target/release/.fingerprint/proc-macro2-a6ead2dc3d3812d5/lib-proc_macro2
/RustSRCalculator/target/release/.fingerprint/proc-macro2-a6ead2dc3d3812d5/lib-proc_macro2.json
/RustSRCalculator/target/release/.fingerprint/proc-macro2-c8182a89b3430397/run-build-script-build-script-build
/RustSRCalculator/target/release/.fingerprint/proc-macro2-c8182a89b3430397/run-build-script-build-script-build.json
/RustSRCalculator/target/release/.fingerprint/proc-macro2-da4dcf5f4d9d1534/build-script-build-script-build
/RustSRCalculator/target/release/.fingerprint/proc-macro2-da4dcf5f4d9d1534/build-script-build-script-build.json
/RustSRCalculator/target/release/.fingerprint/proc-macro2-da4dcf5f4d9d1534/dep-build-script-build-script-build
/RustSRCalculator/target/release/.fingerprint/proc-macro2-da4dcf5f4d9d1534/invoked.timestamp
/RustSRCalculator/target/release/.fingerprint/quote-75fd187b864aa675/dep-lib-quote
/RustSRCalculator/target/release/.fingerprint/quote-75fd187b864aa675/invoked.timestamp
/RustSRCalculator/target/release/.fingerprint/quote-75fd187b864aa675/lib-quote
/RustSRCalculator/target/release/.fingerprint/quote-75fd187b864aa675/lib-quote.json
/RustSRCalculator/target/release/.fingerprint/quote-180c27f9ed27c5a9/run-build-script-build-script-build
/RustSRCalculator/target/release/.fingerprint/quote-180c27f9ed27c5a9/run-build-script-build-script-build.json
/RustSRCalculator/target/release/.fingerprint/quote-ab505f0ef562b1f5/build-script-build-script-build
/RustSRCalculator/target/release/.fingerprint/quote-ab505f0ef562b1f5/build-script-build-script-build.json
/RustSRCalculator/target/release/.fingerprint/quote-ab505f0ef562b1f5/dep-build-script-build-script-build
/RustSRCalculator/target/release/.fingerprint/quote-ab505f0ef562b1f5/invoked.timestamp
/RustSRCalculator/target/release/.fingerprint/rayon-core-43ec09845b5f11a1/dep-lib-rayon_core
/RustSRCalculator/target/release/.fingerprint/rayon-core-43ec09845b5f11a1/invoked.timestamp
/RustSRCalculator/target/release/.fingerprint/rayon-core-43ec09845b5f11a1/lib-rayon_core
/RustSRCalculator/target/release/.fingerprint/rayon-core-43ec09845b5f11a1/lib-rayon_core.json
/RustSRCalculator/target/release/.fingerprint/rayon-core-071baa2525cb0951/run-build-script-build-script-build
/RustSRCalculator/target/release/.fingerprint/rayon-core-071baa2525cb0951/run-build-script-build-script-build.json
/RustSRCalculator/target/release/.fingerprint/rayon-core-90a1ec1288c72284/build-script-build-script-build
/RustSRCalculator/target/release/.fingerprint/rayon-core-90a1ec1288c72284/build-script-build-script-build.json
/RustSRCalculator/target/release/.fingerprint/rayon-core-90a1ec1288c72284/dep-build-script-build-script-build
/RustSRCalculator/target/release/.fingerprint/rayon-core-90a1ec1288c72284/invoked.timestamp
/RustSRCalculator/target/release/.fingerprint/rayon-e9a2d4b28c7d411e/dep-lib-rayon
/RustSRCalculator/target/release/.fingerprint/rayon-e9a2d4b28c7d411e/invoked.timestamp
/RustSRCalculator/target/release/.fingerprint/rayon-e9a2d4b28c7d411e/lib-rayon
/RustSRCalculator/target/release/.fingerprint/rayon-e9a2d4b28c7d411e/lib-rayon.json
/RustSRCalculator/target/release/.fingerprint/rust_sr_calculator-fc84e96a02061dd9/dep-lib-rust_sr_calculator
/RustSRCalculator/target/release/.fingerprint/rust_sr_calculator-fc84e96a02061dd9/invoked.timestamp
/RustSRCalculator/target/release/.fingerprint/rust_sr_calculator-fc84e96a02061dd9/lib-rust_sr_calculator
/RustSRCalculator/target/release/.fingerprint/rust_sr_calculator-fc84e96a02061dd9/lib-rust_sr_calculator.json
/RustSRCalculator/target/release/.fingerprint/rust_sr_calculator-fc84e96a02061dd9/output-lib-rust_sr_calculator
/RustSRCalculator/target/release/.fingerprint/ryu-979f73fa326b529e/dep-lib-ryu
/RustSRCalculator/target/release/.fingerprint/ryu-979f73fa326b529e/invoked.timestamp
/RustSRCalculator/target/release/.fingerprint/ryu-979f73fa326b529e/lib-ryu
/RustSRCalculator/target/release/.fingerprint/ryu-979f73fa326b529e/lib-ryu.json
/RustSRCalculator/target/release/.fingerprint/serde-0a308b5e98090f8f/dep-lib-serde
/RustSRCalculator/target/release/.fingerprint/serde-0a308b5e98090f8f/invoked.timestamp
/RustSRCalculator/target/release/.fingerprint/serde-0a308b5e98090f8f/lib-serde
/RustSRCalculator/target/release/.fingerprint/serde-0a308b5e98090f8f/lib-serde.json
/RustSRCalculator/target/release/.fingerprint/serde-9b5e7898eae8a61d/build-script-build-script-build
/RustSRCalculator/target/release/.fingerprint/serde-9b5e7898eae8a61d/build-script-build-script-build.json
/RustSRCalculator/target/release/.fingerprint/serde-9b5e7898eae8a61d/dep-build-script-build-script-build
/RustSRCalculator/target/release/.fingerprint/serde-9b5e7898eae8a61d/invoked.timestamp
/RustSRCalculator/target/release/.fingerprint/serde-a09402850eab3e9f/run-build-script-build-script-build
/RustSRCalculator/target/release/.fingerprint/serde-a09402850eab3e9f/run-build-script-build-script-build.json
/RustSRCalculator/target/release/.fingerprint/serde_core-2add151975791089/run-build-script-build-script-build
/RustSRCalculator/target/release/.fingerprint/serde_core-2add151975791089/run-build-script-build-script-build.json
/RustSRCalculator/target/release/.fingerprint/serde_core-d8b205b9e1edcc04/build-script-build-script-build
/RustSRCalculator/target/release/.fingerprint/serde_core-d8b205b9e1edcc04/build-script-build-script-build.json
/RustSRCalculator/target/release/.fingerprint/serde_core-d8b205b9e1edcc04/dep-build-script-build-script-build
/RustSRCalculator/target/release/.fingerprint/serde_core-d8b205b9e1edcc04/invoked.timestamp
/RustSRCalculator/target/release/.fingerprint/serde_core-f35112678c813c23/dep-lib-serde_core
/RustSRCalculator/target/release/.fingerprint/serde_core-f35112678c813c23/invoked.timestamp
/RustSRCalculator/target/release/.fingerprint/serde_core-f35112678c813c23/lib-serde_core
/RustSRCalculator/target/release/.fingerprint/serde_core-f35112678c813c23/lib-serde_core.json
/RustSRCalculator/target/release/.fingerprint/serde_derive-7615f4905d7887ff/dep-lib-serde_derive
/RustSRCalculator/target/release/.fingerprint/serde_derive-7615f4905d7887ff/invoked.timestamp
/RustSRCalculator/target/release/.fingerprint/serde_derive-7615f4905d7887ff/lib-serde_derive
/RustSRCalculator/target/release/.fingerprint/serde_derive-7615f4905d7887ff/lib-serde_derive.json
/RustSRCalculator/target/release/.fingerprint/serde_json-542d5f65ab1fe3d2/run-build-script-build-script-build
/RustSRCalculator/target/release/.fingerprint/serde_json-542d5f65ab1fe3d2/run-build-script-build-script-build.json
/RustSRCalculator/target/release/.fingerprint/serde_json-cd09d9fd672feb0c/dep-lib-serde_json
/RustSRCalculator/target/release/.fingerprint/serde_json-cd09d9fd672feb0c/invoked.timestamp
/RustSRCalculator/target/release/.fingerprint/serde_json-cd09d9fd672feb0c/lib-serde_json
/RustSRCalculator/target/release/.fingerprint/serde_json-cd09d9fd672feb0c/lib-serde_json.json
/RustSRCalculator/target/release/.fingerprint/serde_json-e24d7aac78a6b599/build-script-build-script-build
/RustSRCalculator/target/release/.fingerprint/serde_json-e24d7aac78a6b599/build-script-build-script-build.json
/RustSRCalculator/target/release/.fingerprint/serde_json-e24d7aac78a6b599/dep-build-script-build-script-build
/RustSRCalculator/target/release/.fingerprint/serde_json-e24d7aac78a6b599/invoked.timestamp
/RustSRCalculator/target/release/.fingerprint/syn-20a52ddecc091b48/dep-lib-syn
/RustSRCalculator/target/release/.fingerprint/syn-20a52ddecc091b48/invoked.timestamp
/RustSRCalculator/target/release/.fingerprint/syn-20a52ddecc091b48/lib-syn
/RustSRCalculator/target/release/.fingerprint/syn-20a52ddecc091b48/lib-syn.json
/RustSRCalculator/target/release/.fingerprint/unicode-ident-937129175c4cb6f1/dep-lib-unicode_ident
/RustSRCalculator/target/release/.fingerprint/unicode-ident-937129175c4cb6f1/invoked.timestamp
/RustSRCalculator/target/release/.fingerprint/unicode-ident-937129175c4cb6f1/lib-unicode_ident
/RustSRCalculator/target/release/.fingerprint/unicode-ident-937129175c4cb6f1/lib-unicode_ident.json
/RustSRCalculator/target/release/build/anyhow-045a5c2a78504372/build_script_build-045a5c2a78504372.d
/RustSRCalculator/target/release/build/anyhow-7134c2f8e2c2c8be/invoked.timestamp
/RustSRCalculator/target/release/build/anyhow-7134c2f8e2c2c8be/output
/RustSRCalculator/target/release/build/anyhow-7134c2f8e2c2c8be/root-output
/RustSRCalculator/target/release/build/anyhow-7134c2f8e2c2c8be/stderr
/RustSRCalculator/target/release/build/crossbeam-utils-9945c743697ba097/invoked.timestamp
/RustSRCalculator/target/release/build/crossbeam-utils-9945c743697ba097/output
/RustSRCalculator/target/release/build/crossbeam-utils-9945c743697ba097/root-output
/RustSRCalculator/target/release/build/crossbeam-utils-9945c743697ba097/stderr
/RustSRCalculator/target/release/build/crossbeam-utils-ea004232fe9c4047/build_script_build-ea004232fe9c4047.d
/RustSRCalculator/target/release/build/proc-macro2-c8182a89b3430397/invoked.timestamp
/RustSRCalculator/target/release/build/proc-macro2-c8182a89b3430397/output
/RustSRCalculator/target/release/build/proc-macro2-c8182a89b3430397/root-output
/RustSRCalculator/target/release/build/proc-macro2-c8182a89b3430397/stderr
/RustSRCalculator/target/release/build/proc-macro2-da4dcf5f4d9d1534/build_script_build-da4dcf5f4d9d1534.d
/RustSRCalculator/target/release/build/quote-180c27f9ed27c5a9/invoked.timestamp
/RustSRCalculator/target/release/build/quote-180c27f9ed27c5a9/output
/RustSRCalculator/target/release/build/quote-180c27f9ed27c5a9/root-output
/RustSRCalculator/target/release/build/quote-180c27f9ed27c5a9/stderr
/RustSRCalculator/target/release/build/quote-ab505f0ef562b1f5/build_script_build-ab505f0ef562b1f5.d
/RustSRCalculator/target/release/build/rayon-core-071baa2525cb0951/invoked.timestamp
/RustSRCalculator/target/release/build/rayon-core-071baa2525cb0951/output
/RustSRCalculator/target/release/build/rayon-core-071baa2525cb0951/root-output
/RustSRCalculator/target/release/build/rayon-core-071baa2525cb0951/stderr
/RustSRCalculator/target/release/build/rayon-core-90a1ec1288c72284/build_script_build-90a1ec1288c72284.d
/RustSRCalculator/target/release/build/serde-9b5e7898eae8a61d/build_script_build-9b5e7898eae8a61d.d
/RustSRCalculator/target/release/build/serde-a09402850eab3e9f/out/private.rs
/RustSRCalculator/target/release/build/serde-a09402850eab3e9f/invoked.timestamp
/RustSRCalculator/target/release/build/serde-a09402850eab3e9f/output
/RustSRCalculator/target/release/build/serde-a09402850eab3e9f/root-output
/RustSRCalculator/target/release/build/serde-a09402850eab3e9f/stderr
/RustSRCalculator/target/release/build/serde_core-2add151975791089/out/private.rs
/RustSRCalculator/target/release/build/serde_core-2add151975791089/invoked.timestamp
/RustSRCalculator/target/release/build/serde_core-2add151975791089/output
/RustSRCalculator/target/release/build/serde_core-2add151975791089/root-output
/RustSRCalculator/target/release/build/serde_core-2add151975791089/stderr
/RustSRCalculator/target/release/build/serde_core-d8b205b9e1edcc04/build_script_build-d8b205b9e1edcc04.d
/RustSRCalculator/target/release/build/serde_json-542d5f65ab1fe3d2/invoked.timestamp
/RustSRCalculator/target/release/build/serde_json-542d5f65ab1fe3d2/output
/RustSRCalculator/target/release/build/serde_json-542d5f65ab1fe3d2/root-output
/RustSRCalculator/target/release/build/serde_json-542d5f65ab1fe3d2/stderr
/RustSRCalculator/target/release/build/serde_json-e24d7aac78a6b599/build_script_build-e24d7aac78a6b599.d
/RustSRCalculator/target/release/deps/anyhow-1d1c33418763d544.d
/RustSRCalculator/target/release/deps/crossbeam_deque-16016c12a400dee4.d
/RustSRCalculator/target/release/deps/crossbeam_epoch-df3ab80015fb6365.d
/RustSRCalculator/target/release/deps/crossbeam_utils-68cdbf02ebb0072a.d
/RustSRCalculator/target/release/deps/either-d83ee4a84af58d26.d
/RustSRCalculator/target/release/deps/itoa-9a1612c132340039.d
/RustSRCalculator/target/release/deps/libanyhow-1d1c33418763d544.rlib
/RustSRCalculator/target/release/deps/libanyhow-1d1c33418763d544.rmeta
/RustSRCalculator/target/release/deps/libcrossbeam_deque-16016c12a400dee4.rlib
/RustSRCalculator/target/release/deps/libcrossbeam_deque-16016c12a400dee4.rmeta
/RustSRCalculator/target/release/deps/libcrossbeam_epoch-df3ab80015fb6365.rlib
/RustSRCalculator/target/release/deps/libcrossbeam_epoch-df3ab80015fb6365.rmeta
/RustSRCalculator/target/release/deps/libcrossbeam_utils-68cdbf02ebb0072a.rlib
/RustSRCalculator/target/release/deps/libcrossbeam_utils-68cdbf02ebb0072a.rmeta
/RustSRCalculator/target/release/deps/libeither-d83ee4a84af58d26.rlib
/RustSRCalculator/target/release/deps/libeither-d83ee4a84af58d26.rmeta
/RustSRCalculator/target/release/deps/libitoa-9a1612c132340039.rlib
/RustSRCalculator/target/release/deps/libitoa-9a1612c132340039.rmeta
/RustSRCalculator/target/release/deps/libmemchr-f5170a6b46119bba.rlib
/RustSRCalculator/target/release/deps/libmemchr-f5170a6b46119bba.rmeta
/RustSRCalculator/target/release/deps/libproc_macro2-a6ead2dc3d3812d5.rlib
/RustSRCalculator/target/release/deps/libproc_macro2-a6ead2dc3d3812d5.rmeta
/RustSRCalculator/target/release/deps/libquote-75fd187b864aa675.rlib
/RustSRCalculator/target/release/deps/libquote-75fd187b864aa675.rmeta
/RustSRCalculator/target/release/deps/librayon-e9a2d4b28c7d411e.rlib
/RustSRCalculator/target/release/deps/librayon-e9a2d4b28c7d411e.rmeta
/RustSRCalculator/target/release/deps/librayon_core-43ec09845b5f11a1.rlib
/RustSRCalculator/target/release/deps/librayon_core-43ec09845b5f11a1.rmeta
/RustSRCalculator/target/release/deps/librust_sr_calculator.rlib
/RustSRCalculator/target/release/deps/libryu-979f73fa326b529e.rlib
/RustSRCalculator/target/release/deps/libryu-979f73fa326b529e.rmeta
/RustSRCalculator/target/release/deps/libserde-0a308b5e98090f8f.rlib
/RustSRCalculator/target/release/deps/libserde-0a308b5e98090f8f.rmeta
/RustSRCalculator/target/release/deps/libserde_core-f35112678c813c23.rlib
/RustSRCalculator/target/release/deps/libserde_core-f35112678c813c23.rmeta
/RustSRCalculator/target/release/deps/libserde_json-cd09d9fd672feb0c.rlib
/RustSRCalculator/target/release/deps/libserde_json-cd09d9fd672feb0c.rmeta
/RustSRCalculator/target/release/deps/libsyn-20a52ddecc091b48.rlib
/RustSRCalculator/target/release/deps/libsyn-20a52ddecc091b48.rmeta
/RustSRCalculator/target/release/deps/libunicode_ident-937129175c4cb6f1.rlib
/RustSRCalculator/target/release/deps/libunicode_ident-937129175c4cb6f1.rmeta
/RustSRCalculator/target/release/deps/memchr-f5170a6b46119bba.d
/RustSRCalculator/target/release/deps/proc_macro2-a6ead2dc3d3812d5.d
/RustSRCalculator/target/release/deps/quote-75fd187b864aa675.d
/RustSRCalculator/target/release/deps/rayon-e9a2d4b28c7d411e.d
/RustSRCalculator/target/release/deps/rayon_core-43ec09845b5f11a1.d
/RustSRCalculator/target/release/deps/rust_sr_calculator.d
/RustSRCalculator/target/release/deps/rust_sr_calculator.dll.exp
/RustSRCalculator/target/release/deps/rust_sr_calculator.dll.lib
/RustSRCalculator/target/release/deps/ryu-979f73fa326b529e.d
/RustSRCalculator/target/release/deps/serde-0a308b5e98090f8f.d
/RustSRCalculator/target/release/deps/serde_core-f35112678c813c23.d
/RustSRCalculator/target/release/deps/serde_derive-7615f4905d7887ff.d
/RustSRCalculator/target/release/deps/serde_derive-7615f4905d7887ff.dll.exp
/RustSRCalculator/target/release/deps/serde_derive-7615f4905d7887ff.dll.lib
/RustSRCalculator/target/release/deps/serde_json-cd09d9fd672feb0c.d
/RustSRCalculator/target/release/deps/syn-20a52ddecc091b48.d
/RustSRCalculator/target/release/deps/unicode_ident-937129175c4cb6f1.d
/RustSRCalculator/target/release/.cargo-lock
/RustSRCalculator/target/release/librust_sr_calculator.d
/RustSRCalculator/target/release/librust_sr_calculator.rlib
/RustSRCalculator/target/release/rust_sr_calculator.d
/RustSRCalculator/target/release/rust_sr_calculator.dll.exp
/RustSRCalculator/target/release/rust_sr_calculator.dll.lib
/RustSRCalculator/target/.rustc_info.json
/RustSRCalculator/target/CACHEDIR.TAG
/RustSRCalculator/Cargo.lock
/RustSRCalculator/Cargo.toml
/RustSRCalculator/README.md
